@page "/"
@using BlHell_per.BlazorClasses
@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<h1>BlHell-per</h1>

<h2>Выберите предмет для проверки</h2>
<div class="container px-4 border-secondary">
    <SmartButton @ref="this.smartButtons[0]" name="FunOfIT" Count="300" Text="Основы Инф.Тех" onClickCallback="@(arg => onClickUnited(arg,0))" />
    <SmartButton @ref="this.smartButtons[1]" name="Programming" Count="317" Text="Основы Программирования" onClickCallback="@(arg => onClickUnited(arg,1))" />
    <SmartButton @ref="this.smartButtons[2]" name="DifferentialEquations" Count="100" Text="Диф Уравнения" onClickCallback="@(arg => onClickUnited(arg,2))" />
</div>

@code {
    private SmartButton[] smartButtons = new SmartButton[3];

    private void onClickUnited(SmartButton.MouseEventArgsLocal args,Int32 index) 
    {
        for (int i = 0; i< this.smartButtons.Length; i++)
        {
            SmartButton button = this.smartButtons[i];
            if (button.popupRef.isVisible())
            {
                button.popupRef.Close();
            } else if (index == i)
            {
                button.popupRef.Show();
            }
        }
    }
}
